@import url('http://fonts.googleapis.com/css/family=quicksand:400,500&subset=latin-ext');
body {
    padding: 100px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCZEsrZN5cNtrhZ3fxrzsvEPSsYoR39Hvwpw&s);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
    font-family: 'quicksand', sans-serif;
}
ul {
    margin-left: -45px;
}
li {
    list-style: none;
    display: inline-block;
}
.main {
    width: 800px;
    height: 520px;
    background-color: #fffcfc;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid #eeeeee'
}
.img {
    background-image: url(Nurlaila.jpeg);
    background-color: #7c7881;
    background-size: cover;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1 px solid #eaeaea;
}
h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: #f389d9;
}
.text {
    text-align: center;
    font-size: 15px;
    margin: 0;
    color: #89a1b3;
}
p {
    margin: 0 auto;
    padding-top: 20px;
    width: 450px;
    height: auto;
    color: #222c33;
}
